html.about, .about .container {background-color: $gray-1;}

body.about {
}

.about-modules {
	// img {display: block;} // might not need
	li {
		@include clearfix;
		font-size: 1em; // reset for children
		float: left;
		background-color: red;
		height: auto;
		img {
			height: 100%;
			max-width: 100%;
		}
	}
	@include breakpoint(medium) {
		li {
			height: 275px;
			width: percentage(1/2);
			&.i2 {clear: both;}
		}
	}
	@include breakpoint(large) {
		li {
			height: 350px;
			width: percentage(1/3);
			&.i2 {clear: none;}
			&.i3 {clear: both;}
		}
	}
	@include breakpoint(huge) {
		li {
			height: 385px;
			width: percentage(1/4);
			&.i2 {clear: none;}
			&.i3 {clear: none;}
			&.i4 {clear: both;}
		}
	}
}

.about-big-text,
.about-quote,
.about-image {
	// width: percentage(1/3);
	// float: left;
}

// Background colours for the modules
.about-modules {background-color: red;}
.about-big-text {background-color: $accent-color;}
.about-quote {background-color: $gray-3;}
.about-image {background-color: #fff;}
