.client-list {
  background: #fff;
	@include clearfix;
  ul {
		li {
			width: 50%;
			height: 80px; // this sets icon size
			display: block;
			float: left;
			text-align: center;
      border-top: 1px solid $gray-1;

      @include clearfix;
			a {
				border: none;
			}
			img {
				max-height: 100%;
				width: auto;
				max-width: 100%;
			}
			opacity: .4;
			@if $old-ie {
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
				filter: alpha(opacity=50);
			}
			&.link:hover {
				opacity: 1;
			}
		}
	}
  .rule {
    position: absolute;
    left: 50%;
    height: 100%;
    width: 0;
    border-left: 1px solid $gray-1;
    z-index: 0;
    // margin-left: -1px;
  }
  @include breakpoint(small) {
    ul {
      li {
        height: 80px;
      }
    }
  }
  @include breakpoint(medium) {
    ul {
      li {
        width: percentage(1/3);
        height: 90px;
      }
    }
    .rule {
      left: percentage(1/3);
      &-1 {left: percentage(2/3);}
    }
  }
  @include breakpoint(800px) {
    ul {
      li {
        width: percentage(1/4);
        height: 90px;
        margin-bottom: 10px;
      }
    }
    .rule {
      left: percentage(1/4);
      &-1 {left: percentage(2/4);}
      &-2 {left: percentage(3/4);}
    }
  }
  @include breakpoint(large) {
    ul {
      li {
        width: percentage(1/5);
        height: 92px;
        padding-top: 30px;
        padding-bottom: 30px;

        // margin-bottom: 25px;
      }
    }
    .rule {
      left: percentage(1/5);
      &-1 {left: percentage(2/5);}
      &-2 {left: percentage(3/5);}
      &-3 {left: percentage(4/5);}
    }
  }
  @include breakpoint(1200px) {
    ul {
      li {
        width: percentage(1/6);
        height: 110px;
        margin-bottom: 20px;
      }
    }
    .rule {
      left: percentage(1/6);
      &-1 {left: percentage(2/6);}
      &-2 {left: percentage(3/6);}
      &-3 {left: percentage(4/6);}
      &-4 {left: percentage(5/6);}
    }
  }
  @include breakpoint(huge) {
    ul {
      li {
        height: 130px;
        margin-bottom: 25px;
      }
    }
  }
}


/*
.client-list {
	@include screen-margins-with-gutters;
	clear: both;
	@include clearfix;
	padding-bottom: 56px;
	@include breakpoint(medium) {
		padding-top: 50px;
		padding-bottom: 52px;
	}
	@include breakpoint(large) {
		padding-top: 56px;
		padding-bottom: 100px;
	}
	h2 {
		margin-bottom: 14px !important;
		span {
			display: block;
		}
		@include breakpoint(medium) {
			margin-bottom: 45px !important;
			span {
				display: inline;
			}
		}
		@include breakpoint(large) {
			margin-bottom: 35px !important;
		}
		@include breakpoint(850px) {
			span {
				display: block;
			}
		}
	}
	ul {
		li {
			width: 33.3333%;
			height: 55px; // this sets icon size
			@include breakpoint(small) {
				height: 80px;
			}
			@include breakpoint(medium) {
				width: 25%;
				height: 90px;
			}
			@include breakpoint(800px) {
				width: percentage(1/6);
				height: 80px;
				margin-bottom: 10px;
			}
			@include breakpoint(large) {
				height: 92px;
				margin-bottom: 15px;
			}
			@include breakpoint(1200px) {
				height: 110px;
				margin-bottom: 20px;
			}
			@include breakpoint(huge) {
				height: 130px;
				margin-bottom: 25px;
			}
			display: block;
			float: left;
			text-align: center;
			a {
				border: none;
			}
			img {
				max-height: 100%;
				width: auto;
				max-width: 100%;
			}
			opacity: .4;
			@if $old-ie {
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
				filter: alpha(opacity=50);
			}
			&.link:hover {
				opacity: 1;
			}
		}
	}
}
*/
