/******************************************************************************************
VIDEOS
******************************************************************************************/

.video {
	clear: both;
	// based on http://avexdesigns.com/responsive-youtube-embed/
	.player {
		position: relative;
		padding-bottom: 56.25%;
		height: 0; overflow: hidden;
		iframe, object, embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		&.youtube {
			padding-top: 30px;
		}
	}
}
@include breakpoint(medium) {
	body#projects .video {
		width: percentage(6/8);
		margin-left: percentage(1/8);
	}
}

/******************************************************************************************
TITLE IMAGES (title revealed on hover)
******************************************************************************************/

.title-img {
	position: relative;
	h2, h3, h4 {
		border: none;
		padding: 8px 15px 0 13px;
		margin: 0 !important;
		opacity: 0;
		transition: opacity .4s;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #000;
		border: 8px solid $accent-color !important;
		@include box;
		@include breakpoint(large) {
			padding-left: 16px;
		}
	}
	img {
		display: block;
	}
}
a.title-img-wrap:hover {
	.title-img {
		h2, h3, h4 {
			opacity: 1;
		}
	}
	p, h2, h3, h4 {
		color: $accent-color;
	}
}



.promo {
	// @include h2;
	// line-height: (2.4em/1.8);
	// text-indent: 0;
	background-color: #fffcf9;
	border: 1px solid $accent-color-pale;
	border-radius: 2px;
	padding: 12px 16px 29px 16px;
	max-width: 608px;
	@include breakpoint(medium) {
		// @include h2-small;
		// line-height: (2.9em/2.1);
		padding: 16px 21px 33px 21px;
		margin-bottom: 5px;
		max-width: 598px;
	}
	@include breakpoint(large) {
		// line-height: (3em/2.1);
		padding: 20px 25px 37px 25px;
		margin-bottom: 10px;
		max-width: 590px;
	}
	@include breakpoint(huge) {
		// font-size: 2.4em;
		// line-height: (3.2em/2.4);
		margin-bottom: 14px;
		max-width: 690px;
	}
}
