/******************************************************************************************
LANDING PAGE
******************************************************************************************/

.projects-list {
	background: #fff;
	@include clearfix;
	li {
		font-size: 1em; // reset for children
		margin-bottom: 55px;
		@include clearfix;
		&.related-project-3 {
			display: none;
		}
		* {
			color: $gray-4;
		}
		a {
			text-decoration: none;
		}
		a:hover, a:hover * {
			color: #000;
		}
		.text {
			@include screen-margins-with-gutters;
			padding-top: 13px;
			p {
				font-size: 15px;
				line-height: 21px;
			}
			h3, .summary {
				@include h2-small;
				font-size: 17px;
				line-height: 22px;
			}
			.summary {
				margin-top: 13px;
			}
		}
		.bw-img {
			background: rgb(215, 215, 255);
			img {
				display: block;
				.no-touch & {
					opacity: .75;
					filter: saturate(0%);
					filter: gray; /* IE6-9 */
					transition: opacity .3s, filter .3s, -webkit-filter .3s;
				}
			}
		}
		a:hover .bw-img img {
			opacity: 1;
			filter: none;
		}
	}
	@include breakpoint(medium) {
		position: relative;
		li {
			width: 50%;
			float: left;
			&.i2 {
				clear: both;
			}
		}
		.rule {
			position: absolute;
			left: 50%;
			height: 100%;
			width: 0;
			border-left: 1px solid $gray-1;
			z-index: 0;
			margin-left: -1px;
		}
		ul {
			z-index: 1;
			position: relative;
		}
	}
	@include breakpoint(large) {
		li {
			width: percentage(1/3);
			&.i2 {
				clear: none;
			}
			&.i3 {
				clear: both;
			}
			&.related-project-3 {
				display: block;
			}
		}
		.rule {
			left: percentage(1/3);
			&-1 {
				left: percentage(2/3);
			}
		}
	}
}



/******************************************************************************************
PROJECT PAGE
******************************************************************************************/

$v-margin-small: 45px;
$v-margin-medium: 54px;
$v-margin-large: 69px;

$jumbo-v-margin-small: 88px;
$jumbo-v-margin-medium: 100px;
$jumbo-v-margin-large: 130px;


body.projects.single {
	// remove padding from top of page and apply it to heading section instead
	.page {
		padding-top: 0;
	}
	.heading-wrap {
		padding-top: $header-height-small;
		@include breakpoint(medium) {
			padding-top: $header-height-medium;
		}
		@include breakpoint(large) {
			padding-top: $header-height-large;
		}
		@include breakpoint(huge) {
			padding-top: $header-height-huge;
		}
		height: 100vh;
		@include box;
	}
	.heading {
		float: left; // float so that content after heading can clear it, even if it's longer than .heading-wrap
		width: 100%;
		min-height: 100%; // min-height to let it stretch taller than screen height if text is long
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-ms-behavior: url(/js/third-party/backgroundsize.min.htc); // see https://github.com/louisremi/background-size-polyfill
		.text {
			@include screen-margins-with-gutters;
			padding-top: 15px;
			padding-bottom: 15px;
			@include breakpoint(medium) {
				padding-top: 33px;
				padding-bottom: 33px;
			}
			@include breakpoint(large) {
				padding-top: 42px;
				padding-bottom: 42px;
			}
			h1 {
//				@include h1-bottom-rule;
			}
			p {
				@include h1;
				display: none !important;
			}
			h1 span, p {
				max-width: 1050px;
				display: block;
			}
			h1, p {
				color: #fff;
				border-color: #fff;
			}
			&.black * {
				color: #000;
				border-color: #000;
			}
			&.accent * {
				color: $accent-color;
				border-color: $accent-color;
			}
		}
	}
	.container .section {
		padding-bottom: 45px;
		@include breakpoint(medium) {padding-bottom: $jumbo-v-margin-medium }
		@include breakpoint(large) {padding-bottom: $jumbo-v-margin-large }
	}
	.in-brief {
		padding-top: 25px;
		padding-bottom: 58px;
		@include gutters;
		a {
			color: $gray-3;
			&:hover {
				color: $accent-color;
			}
		}
		@include breakpoint(medium) {
			background-color: none;
			float: left;
			width: percentage(3/10);
			padding-top: 66px;
			padding-right: 22px;
			padding-bottom: 20px;
			margin-bottom: 0;
		}
		@include breakpoint(large) {
			width: percentage(3/9);
			padding-top: 78px;
			padding-right: 66px;
		}
		@include breakpoint(huge) {
			padding-right: 94px;
		}
		.in-brief-entries {
			@include breakpoint(medium) {
				font-size: 0.8em;
			}
		}
		.in-brief-entry {
			@include clearfix;
			display: block;
			clear: both;
			padding-bottom: 2.4em;
		}
		.in-brief-label {
			font-size: 0.6em;
			color: $gray-3;
			@include h2-small;
		}
		.in-brief-content {
			color: $gray-3;
		}
		.award {
			font-style: italic;
		}
	}
	.intro {
		@include gutters;
		max-width: $max-paragraph-width;
		.standfirst, li {
			@include h2;
			text-indent: 0;
			a {
				border-bottom: 1px solid $accent-color;
			}
		}
		.standfirst {
			text-indent: -.48em;
		}
		.what-we-did {
			margin-top: 30px;
			@include breakpoint(medium) {margin-top: 40px}
			h2 {
				font: 1.8em "Tiempos", georgia;
				line-height: (2.4em/1.8);
				font-style: italic;
				color: $gray-3;
				margin-bottom: 0;
				@include breakpoint(medium) {
					font-size: 2.3em;
					line-height: (3.4em/2.3);
				}

			}
		}
		li {
			display: inline;
			&:after {
				content: ' / ';
				color: $gray-2;
			}
			&.last:after {
				content: none;
			}
		}
		@include breakpoint(medium) {
			width: percentage(7/10);
			float: left;
			padding-top: 55px;
			.standfirst, li {
				a {
					border-bottom: 3px solid $accent-color;
				}
			}
		}
		@include breakpoint(large) {
			width: percentage(6/9);
			padding-top: 65px;
		}
		@include breakpoint(huge) {
			max-width: $max-paragraph-width-huge;
			.standfirst, li {
				font-size: 3.3em;
				line-height: (4.1em/3.3);
			}
		}
	}
	.body {
		float: left;
		width: 100%;
		clear: both;
		// set main column width
		@include gutters;
		margin-top: $jumbo-v-margin-small;
		@include breakpoint(medium) {
			width: percentage(7/10);
			float: right;
			margin-top: $jumbo-v-margin-medium;
			clear: none; // Was "both". I don't *think* this causes any explosions. Yet.
		}
		@include breakpoint(large) {
			width: percentage(6/9);
			margin-top: $jumbo-v-margin-large;
		}

		&.first-no-standfirst {
			margin-top: 16px;
			clear: none;
			@include breakpoint(medium) {
				margin-top: 58px;
			}
			@include breakpoint(large) {
				margin-top: 66px;
			}
		}
		h2 {
			border: 10px solid red;
		}
		h3 {
			@include h3-normal;
		}
		h4.section-header {
			margin: -32px 0 50px;
			@include breakpoint(medium) {
				margin: -82px 0 88px;
			}
			@include breakpoint(large) {
				margin: -112px 0 138px;
			}
		}
	}
	blockquote {
		clear: both;
		float: left;
		width: 100%;
		@include clearfix;
		margin: $jumbo-v-margin-small 0-$tiny-screen-margin 0;
		@include breakpoint(small) {
			margin: $jumbo-v-margin-small 0-$small-screen-margin 0;
		}
		@include breakpoint(medium) {
			margin: $jumbo-v-margin-medium 0-$medium-screen-margin 0;
		}
		@include breakpoint(large) {
			margin: $jumbo-v-margin-large 0-$large-screen-margin 0;
		}
		@include breakpoint(huge) {
			margin: $jumbo-v-margin-large 0-$huge-screen-margin 0;
		}
		@include screen-margins;
		p {
			@include blockquote;
			@include gutters;
			@include breakpoint(medium) {
				width: percentage(7/10);
				float: left;
			}
			@include breakpoint(large) {
				width: percentage(6/10);
			}
		}
	}
	.img {
		clear: both;
		float: left;
		width: 100%;
		@include clearfix;
		margin-top: $v-margin-small;
		@include breakpoint(medium) {margin-top: $v-margin-medium}
		@include breakpoint(large) {margin-top: $v-margin-large}
		img {
			display: block;
			margin-bottom: 15px;
		}
		&.text {
			.img-wrap {
				@include gutters;
				@include breakpoint(medium) {
					width: percentage(7/10);
					float: right;
				}
				@include breakpoint(large) {
					width: percentage(6/9);
				}
			}
			.caption {
				@include gutters;
				@include breakpoint(medium) {
					width: percentage(3/10);
					float: left;
					font-size: 0.8em;
				}
				@include breakpoint(large) {
					width: percentage(2.5/9);
				}
			}
		}
		&.full {
			.img-wrap {
				@include negative-screen-margins;
			}
			.caption {
				@include gutters;
				@include breakpoint(medium) {
					width: percentage(7/10);
					float: right;
				}
				@include breakpoint(large) {
					width: percentage(6/9);
				}
			}
		}
		&.small {
			.caption {
				p {
					max-width: 400px;
					@include breakpoint(huge) {
						max-width: 475px;
					}
				}
			}
			@include breakpoint(medium) {
				width: 50%;
				@include gutters;
				float: left;
				clear: none;
				.caption {
					margin: -4px 0 0;
				}
				&.even {
					float: right;
				}
				&.odd {
					clear: both;
				}
			}
			@include breakpoint(large) {
				width: percentage(4/9);
			}
		}
		&.left, &.right, &.left-bleed, &.right-bleed {
			border: 10px solid red;
		}
		&.full.last-in-content {
			margin-bottom: -45px;
			@include breakpoint(medium) {
				margin-bottom: -100px; // this should match the section spacing
			}
			@include breakpoint(large) {
				margin-bottom: -130px; // same here
			}
			img {
				margin-bottom: 0;
			}
			.caption {
				margin: 15px 0 60px;
			}
		}
	}
	.video {
		float: left;
		width: 100%;
		margin-top: $v-margin-small;
		@include breakpoint(medium) {margin-top: $v-margin-medium}
		@include breakpoint(large) {margin-top: $v-margin-large}
		.player-wrap {
			@include gutters;
		}
		.caption {
			@include gutters;
			@include breakpoint(medium) {
				width: percentage(7/10);
				float: right;
			}
			@include breakpoint(large) {
				width: percentage(6/9);
			}
			p {
				margin-top: 15px;
			}
		}
		&.text {
			@include breakpoint(medium) {
				width: percentage(7/10);
				float: right;
			}
			@include breakpoint(large) {
				width: percentage(6/9);
			}
			.caption {
				width: 100% !important;
			}
		}
	}
	.caption p {
		max-width: $max-paragraph-width;
		@include breakpoint(huge) {
			max-width: $max-paragraph-width-huge;
		}
	}
	.get-in-touch {
		border-top: 1px solid $gray-1;
		@include screen-margins;
		padding-top: 20px;
		h2 {
			@include h2;
			margin-bottom: 25px;
		}
		.button {
			@include h2;
			background: $accent-color;
			border-radius: 1px;
			border: none;
			box-shadow: none;
			padding: 6px 14px 10px 14px;
		}
		@include breakpoint(medium) {
			padding-top: 50px;
			padding-bottom: 54px !important;
		}
		@include breakpoint(large) {
			padding-top: 64px;
			padding-bottom: 69px !important;
		}
	}





	.related-projects {
		@include screen-margins;
		padding-bottom: 0 !important;
		background-color: $gray-6;
		@include clearfix;
		h2 {
			color: #fff;
		}
		li {
			font-size: 1em; // reset font size
			padding-bottom: 42px;
			* {
				color: #fff;
			}
			a:hover * {
				color: $accent-color;
				border-color: $accent-color;
				background-color: $gray-6;
			}
			a {
				text-decoration: none;
				display: block;
			}
			h3 {
				@include h2;
				@include h2-bottom-rule;
				//border-bottom: 3px solid #fff !important;
			}
			img {
				display: none;
			}
			.summary {
				display: block;
				@include h2-small;
			}
			.client {
				@include default-font;
				color: #fff;
			}
		}
		@include below-breakpoint(medium) {
			h2 {
				@include h4;
				color: $accent-color;
				border: none;
				padding-top: 40px;
				margin-bottom: 41px;
			}
			li {
				.title-img {
					display: block;
					opacity: 1;
				}
				h3 {
					// override normal .title-img behavour for small screens – instead show h3 and no image
					display: block;
					opacity: 1;
					background: none;
					border: 3px solid #fff !important;
					border-width: 0 0 3px 0 !important;
					padding: 0 0 9px 0;
					margin-bottom: 8px !important;
					position: relative;
				}
				a:hover h3 {
					border-color: $accent-color !important;
				}
				.summary {
					font-size: 2.1em;
					padding-bottom: 4px;
				}
			}
		}
		@include breakpoint(medium) {
			ul {
				// counteract 10px border on this section
				margin: 0 -10px;
			}
			h2 {
				margin: 0 ($gutter-half-width-medium - 10px) 25px; // removed top margin here
			}
			li {
				width: 50%;
				@include gutters;
				float: left;
				&.i2 {
					clear: both;
				}
				.summary {
					padding-top: 16px;
				}
				img {
					display: block;
				}
			}
		}
		@include breakpoint(large) {
			h2 {
				margin: 0 ($gutter-half-width-large - 10px) 25px; // removed top margin here, cut down bottom
			}
			li {
				width: 33.33333%;
				&.i2 {
					clear: none;
				}
				&.i3 {
					clear: both;
				}
			}
		}
		@include breakpoint(huge) {
			li {
				width: 25%;
				&.i3 {
					clear: none;
				}
				&.i4 {
					clear: both;
				}
			}
		}
	}

	.section.white {
		p, ul, li, h2, h3, h4 {
			color: #fff;
			border-color: #fff;
		}
		a {
			color: #fff;
			border-color: $gray-4;
		}
	}
}
